body
{
	font-size: 30px;
	font-family: Vinque;
	margin: 0;
	background-color: #956a57;
}
div
{
	border-width: 5px;	
}
img
{
	border-width: 10px;	
	border-style: solid double solid double;
	border-color: black;	
	float: left;
	margin-right: 0.5%;
}
a:link
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
a:visited
{
	color: black;
}
a:link:hover
{
	-webkit-text-stroke: 1px #214ba5;
}
a:visited:hover
{
	-webkit-text-stroke: 1px #80416f;	
}
h3
{
	font-weight: bold;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}
#title
{
	text-align:center;
	border-style: solid solid none solid;
	font-size: 300%;
	color: black;
	font-weight: bold;
	padding: 1%;
}
#list
{
	text-align:center;
	position: sticky;
	top: 0;
	z-index: 1000;
	border-style: none solid solid solid;
	background-color: #956a57;
	padding: 1%;
	font-weight: bold;
}
#side-background
{
	padding: 0.1%;
	background-image: url('images/bgr-test.jpg');
	overflow: hidden;
}
#page-contents
{
	padding: 1%;
	background-color: #956a57;
	margin-left: 10%;
	margin-right: 10%;
	border-style: double solid solid double;
	border-width: 10px;
	min-height: 720px;
	text-align: justify; 
}
.entry
{
	font-size: 150%;
	font-weight: bold;
}
.entry::first-letter
{
	border-width: 10px;
	font-size: 360%;
	border-style: solid double solid double;
	border-color: black;
	float: left;
	margin-right: 0.5%;
}
.img-end
{
	clear:left

}
.collapsible 
{
	background: none;
	float:inherit;
	cursor: pointer;
	border: none;
	text-align: left;
	outline: none;
	font-size: 36px;
	font-family: Vinque;
	font-weight: bold;
}
.active, .collapsible:hover 
{
	-webkit-text-stroke: 1px #214ba5;
}
.content 
{
	background-color: #b78a75;
	padding: 1%;
	border-style: solid double solid double;
	border-color: black;
	position: absolute;
	display: none;
	margin-left: 10%;
	overflow: hidden;
	text-align: left;
}
