body
{
	font-size: 30px;
	font-family: VinqueRegular;
	margin: 0;
	background-color: #956a57;
}
div
{
	border-width: 5px;	
}
a:link
{
	text-decoration: none;
	color: black;
	font-weight: bold;
	-webkit-text-stroke: 1px RGB(33, 75, 165, 0.4);
}
a:visited
{
	color: black;
	-webkit-text-stroke: 1px #80416f;	
}
a:link:hover
{
	-webkit-text-stroke: 1px #214ba5;
}
a:visited:hover
{
	-webkit-text-stroke: 1px #80416f;	
}
#title
{
	text-align:center;
	border-style: solid solid none solid;
	font-size: 300%;
	color: black;
	font-weight: bold;
	padding: 1%;
	-webkit-text-stroke: 1px #151515;
}
#list
{
	text-align:center;
	position: sticky;
	top: 0;
	z-index: 1000;
	border-style: none solid solid solid;
	background-color: #956a57;
	padding: 1%;
}
#side-background
{
	padding: 0.1%;
	background-image: url('images/bgr-test.jpg');
}
#page-contents
{
	padding: 1%;
	background-color: #956a57;
	margin-left: 10%;
	margin-right: 10%;
	border-style: double solid solid double;
	border-width: 10px;
}
.entry
{
	font-size: 150%;
	font-weight: bold;
	-webkit-text-stroke: 1px #151515;
}
.entry::first-letter
{
	border-width: 10px;
	font-size: 360%;
	border-style: solid double solid double;
	border-color: #151515 #000000 #151515 #000000;
	float: left;
	margin-right: 0.5%;
	box-shadow: 0 0 0 0px #151515, 0 0 0 3px #151515;
}