body 
{
  background-color: black;
  font-family: candara;
 
}

h1 
{
  color: white;
  text-align: center;
  font-family: georgia;
}

h2 
{
  color: white;
  text-align: left;
}

h3 
{
  color: white;
  text-align: center;
}

.text-block
{
  margin-left: 10%;
  margin-right: 10%;
  background-color: red;
}